src/db/
src/incremental_db/
src/output_files/
src/simulation/
src/work/
src/*.bak
src/*.ghw
src/*.cf
assembly/*.asm
assembly/*.img
assembly/*.mif
src/.hdl_checker/
.hdl_checker
assembly/.DS_Store
.DS_Store
src/*.ini
